.spacer {
    margin-bottom: 1em;
  }

  table{
    width: 100%;
    border: 1px solid #e9ecef;
  }

 table > tr > th {
    border: 1px solid #e9ecef;
    background: #f8f9fa;
    color: #495057;
    padding: 1rem 1rem;
  }

  .ui-dropdown-panel .ui-dropdown-item {
    white-space: nowrap;
   }
   