<form autocomplete="off" [formGroup]="profesionalForm" (ngSubmit)="onSubmit()">
  <p-dialog
    *ngIf="!loading"
    header="{{ tituloForm }}"
    [(visible)]="showModalFormProfesional"
    [modal]="true"
    [baseZIndex]="10000"
    [style]="{ width: '800px' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="onHide()"
  >
    <div class="card">
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="tip_identificacion">Tipo de identificación<sup style="color: red">*</sup></label>
          <br />
          <p-dropdown
            appendTo="body"
            [filter]="true"
            [showClear]="true"
            [options]="tipo_identificacion$"
            formControlName="tipoIdentificacion"
            placeholder="Seleccione el tipo identificación"
            autoWidth="false"
            [style]="{ width: '100%' }"
            optionValue="id"
            optionLabel="descripcion"
            (onChange)="cambioTipoIdentificacion($event)"
          >
          </p-dropdown>

          <div *ngIf="tipoIdentificacion?.invalid && (tipoIdentificacion?.dirty || tipoIdentificacion?.touched)">
            <div *ngIf="tipoIdentificacion?.errors?.required">
              <span class="text-danger">Debe seleccionar el tipo de identificación</span>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="ident">Identificación<sup style="color: red">*</sup></label>
          <div class="p-inputgroup">
            <input
              formControlName="identificacion"
              id="iden"
              type="text"
              placeholder="Ingresar la identificación"
              pInputText
              [ngClass]="{
                'ng-invalid ng-dirty': identificacion?.invalid && (identificacion?.dirty || identificacion?.touched)
              }"
              class="inputfield w-full"
            />
          </div>
          <div *ngIf="identificacion?.invalid && (identificacion?.dirty || identificacion?.touched)">
            <div *ngIf="identificacion?.errors?.required">
              <span class="text-danger">Identificación es requerida</span>
            </div>

            <div *ngIf="identificacion?.errors?.maxlength">
              <span class="text-danger">
                Debe ingresar {{ identificacion?.errors?.maxlength?.requiredLength }} digitos
              </span>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="nombre">Nombres<sup style="color: red">*</sup></label>
          <input
            formControlName="nombres"
            id="nombre"
            type="text"
            placeholder="Ingresar nombres"
            pInputText
            [ngClass]="{
              'ng-invalid ng-dirty': nombres?.invalid && (nombres?.dirty || nombres?.touched)
            }"
            class="inputfield w-full"
          />
          <div *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
            <div *ngIf="nombres?.errors?.required">
              <span class="text-danger">Nombres son requeridos</span>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="apellidos">Apellidos<sup style="color: red">*</sup></label>
          <input
            formControlName="apellidos"
            id="apellidos"
            type="text"
            placeholder="Ingrese apellidos"
            [ngClass]="{
              'ng-invalid ng-dirty': apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)
            }"
            pInputText
            class="inputfield w-full"
          />
          <div *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
            <div *ngIf="apellidos?.errors?.required">
              <span class="text-danger">Apellidos son requeridos</span>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="nombre">Teléfono</label>
          <input
            formControlName="telefono"
            id="telefono"
            type="text"
            placeholder="Ingresar teléfono"
            pInputText
            [ngClass]="{
              'ng-invalid ng-dirty': telefono?.invalid && (telefono?.dirty || telefono?.touched)
            }"
            class="inputfield w-full"
          />
          <div *ngIf="telefono?.invalid && (telefono?.dirty || telefono?.touched)">
            <div *ngIf="telefono?.errors?.maxlength">
              <span class="text-danger"> Debe ingresar {{ telefono?.errors?.maxlength?.requiredLength }} digitos </span>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="fechaNac">Fecha nacimiento</label> <br />
          <p-calendar
            formControlName="fecha_nacimiento"
            appendTo="body"
            inputId="dateformat"
            placeholder="Ingrese fecha de nacimiento"
            [style]="{ width: '100%' }"
            dateFormat="yy/mm/dd"
          ></p-calendar>
        </div>

        <div class="field col-12 md:col-12">
          <label for="direccion">Dirección<sup style="color: red">*</sup></label>
          <input
            formControlName="direccion"
            id="direccion"
            type="text"
            placeholder="Ingrese dirección"
            [ngClass]="{
              'ng-invalid ng-dirty': direccion?.invalid && (direccion?.dirty || direccion?.touched)
            }"
            pInputText
            class="inputfield w-full"
          />
          <div *ngIf="direccion?.invalid && (direccion?.dirty || direccion?.touched)">
            <div *ngIf="direccion?.errors?.required">
              <span class="text-danger">Dirección es requerida</span>
            </div>
          </div>
        </div>

        <div class="field col-12 md:col-6">
          <label for="titulo">Título obtenido<sup style="color: red">*</sup></label>
          <br />
          <p-dropdown
            appendTo="body"
            [filter]="true"
            [showClear]="true"
            [options]="lista_titulos$"
            formControlName="tituloObtenido"
            placeholder="Seleccione el título"
            autoWidth="false"
            [style]="{ width: '100%' }"
            optionValue="id"
            optionLabel="descripcion"
            [ngClass]="{
              'ng-invalid ng-dirty': tituloObtenido?.invalid && (tituloObtenido?.dirty || tituloObtenido?.touched)
            }"
          >
          </p-dropdown>
          <div *ngIf="tituloObtenido?.invalid && (tituloObtenido?.dirty || tituloObtenido?.touched)">
            <div *ngIf="tituloObtenido?.errors?.required">
              <span class="text-danger">Debe elegir el título</span>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-6">
          <label for="nombre">Código senecyt<sup style="color: red">*</sup></label>
          <input
            formControlName="codigoSenecyt"
            id="nombre"
            type="text"
            placeholder="Ingresar el codigo senecyt"
            pInputText
            [ngClass]="{
              'ng-invalid ng-dirty': codigoSenecyt?.invalid && (codigoSenecyt?.dirty || codigoSenecyt?.touched)
            }"
            class="inputfield w-full"
          />
          <div *ngIf="codigoSenecyt?.invalid && (codigoSenecyt?.dirty || codigoSenecyt?.touched)">
            <div *ngIf="codigoSenecyt?.errors?.required">
              <span class="text-danger">Código senecyt es requerido</span>
            </div>
          </div>
        </div>

        <div class="field col-6">
          <label for="email">Correo electrónico<sup style="color: red">*</sup></label>
          <input
            formControlName="email"
            id="email"
            type="email"
            placeholder="Ingrese correo electrónico"
            [ngClass]="{
              'ng-invalid ng-dirty':
                email?.invalid &&
                (email?.dirty || email?.touched)
            }"
            pInputText
            class="inputfield w-full"
          />

          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.required">
              <span class="text-danger">Correo es requerido</span>
            </div>

            <div *ngIf="email?.errors?.email">
              <span class="text-danger">Correo eléctronico es inválido </span>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-6"></div>
        <div class="field col-12 md:col-12" style="margin-bottom: 0px">
          <label for=""> <strong>Datos primera cuota</strong> </label>
        </div>

        <!-- DATOS DE PAGO DE LA PRIMERA CUOTA -->
        <div class="field col-12 md:col-6">
          <label for="fechaNac">Fecha de ingreso</label> <br />
          <p-calendar
            [minDate]="fecha_ingreso_inicio_mes"
            formControlName="fecha_ingreso"
            appendTo="body"
            inputId="dateformat"
            placeholder="Ingrese fecha de ingreso"
            [style]="{ width: '100%' }"
            dateFormat="yy/mm/dd"
          ></p-calendar>
        </div>

        <div class="field col-12 md:col-6">
          <label for="costocuota">Valor primera cuota</label>
          <p class="input-valor-primera-cuota">{{ costo_mensual_primera_cuota | currency }}</p>
        </div>

        <!-- DATOS PAGOS -->
        <div class="field col-12 md:col-4">
          <label for="efectivo">Efectivo</label>

          <p-inputNumber
            formControlName="valorEfectivo"
            mode="currency"
            currency="USD"
            locale="en-US"
            placeholder="Ingrese valor efectivo"
            class="inputfield w-full"
          ></p-inputNumber>
        </div>

        <div class="field col-12 md:col-4">
          <label for="efectivo">Tarjeta crédito</label>

          <p-inputNumber
            formControlName="valorTarjetaCredito"
            mode="currency"
            currency="USD"
            locale="en-US"
            placeholder="Ingrese valor tarjeta crédito"
            class="inputfield w-full"
          ></p-inputNumber>
        </div>

        <div class="field col-12 md:col-4">
          <label for="efectivo">Transferencia</label>

          <p-inputNumber
            formControlName="valorTransferencia"
            mode="currency"
            currency="USD"
            locale="en-US"
            placeholder="Ingrese valor transferencia"
            class="inputfield w-full"
          ></p-inputNumber>
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <p-button styleClass="p-button-secondary" (click)="onPropagar()" label="Cancelar"></p-button>
      <p-button
        *ngIf="tipo !== 'V'"
        type="submit"
        styleClass="p-button-success"
        label="Guardar"
        class="p-button-text"
        icon="pi pi-save"
        [disabled]="profesionalForm.invalid"
      ></p-button>
    </ng-template>
  </p-dialog>
</form>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<p-toast></p-toast>
